.handling-page {
    padding: 1rem;
    width: 100vw;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-scrollable-handling {
    height: calc(100vh - 16rem) !important;
    overflow: auto;
}

.msds-container {
    padding: 1rem;
}

.msds-placards {

}